streamlit-mic-recorder
pandas
requests
pymediainfo
opensmile==2.0.0
seaborn
./fairseq_src
torch
torchaudio
ruamel.yaml
librosa
numba
hydra-core==1.3.2
omegaconf==2.3.0
soundfile
joblib
scikit-learn
scipy
pyknife
kahnfigh
networkx
